$--theme-ui-colors-red: #f8c3c5;
$--theme-ui-colors-muted: rgba(0, 0, 0, 0.6);
$--theme-ui-colors-green: #cbe7c5;
$--theme-ui-colors-shadow: black;
$--theme-ui-colors-text: #212529;
$--theme-ui-colors-grey: #b3b3b3;
$--theme-ui-colors-mutedReverse: rgba(0, 0, 0, 0.8);
$--theme-ui-background-primary: #f6f7fc;
$--theme-ui-background-input: white;
$--theme-ui-background-button-hightlight: #fb771a;
